# Análise de dados de jogadores da NBA

Isabela Marinho Ribeiro (imr)

Lucas e Silva de Souza (lss8)

## Glossário das features

![Capture.PNG]()

### Importando bibliotecas

In [34]:
import pandas as pd
import numpy as np
np.random.seed(10)

from sklearn.preprocessing import MinMaxScaler

### Importando o dataset

In [96]:
df = pd.read_csv('NBA_Players_Stats.csv', sep=';')

In [114]:
df_main = pd.read_csv('NBA_Players_Stats.csv', sep=';')

In [76]:
df.head()

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,AJ Griffin,ATL,20,20,8,12,170.7,48,18,62,...,18,5,8,1,2,6,78,0,0,-51
1,Bogdan Bogdanovic,ATL,31,79,35,44,2401.4,1333,471,1100,...,272,247,112,96,26,179,2284,1,0,127
2,Bruno Fernando,ATL,25,45,20,25,682.3,282,109,187,...,193,46,44,25,28,107,698,0,0,-96
3,Clint Capela,ATL,29,73,33,40,1883.1,836,353,618,...,776,91,74,43,106,164,2277,38,0,-17
4,De'Andre Hunter,ATL,26,57,26,31,1681.1,891,304,663,...,222,87,83,40,16,146,1373,3,0,-49

In [37]:
df.shape

(571, 29)

### Definição de tipos

In [38]:
df.dtypes

PLAYER     object
TEAM       object
AGE         int64
GP          int64
W           int64
L           int64
MIN       float64
PTS         int64
FGM         int64
FGA         int64
FG%       float64
3PM         int64
3PA         int64
3P%       float64
FTM         int64
FTA         int64
FT%       float64
OREB        int64
DREB        int64
REB         int64
AST         int64
TOV         int64
STL         int64
BLK         int64
PF          int64
FP          int64
DD2         int64
TD3         int64
+/-         int64
dtype: object

In [97]:
df['TEAMID'] = df['TEAM'].astype('category')

In [98]:
df['TEAMID'] = df['TEAMID'].cat.codes

In [99]:
df[['TEAM','TEAMID']]

    TEAM  TEAMID
0    ATL       0
1    ATL       0
2    ATL       0
3    ATL       0
4    ATL       0
..   ...     ...
566  WAS      29
567  WAS      29
568  WAS      29
569  WAS      29
570  WAS      29

[571 rows x 2 columns]

### Limpeza de dados

#### Remoção aleatória de dados para tratar dados ausentes

In [80]:
df.isnull().any()

PLAYER    False
TEAM      False
AGE       False
GP        False
W         False
L         False
MIN       False
PTS       False
FGM       False
FGA       False
FG%       False
3PM       False
3PA       False
3P%       False
FTM       False
FTA       False
FT%       False
OREB      False
DREB      False
REB       False
AST       False
TOV       False
STL       False
BLK       False
PF        False
FP        False
DD2       False
TD3       False
+/-       False
TEAMID    False
dtype: bool

In [100]:
nan_indices = np.random.choice(df.index, 30, replace=False)
df.loc[nan_indices, 'PTS'] = np.nan

nulldf = df[df['PTS'].isna()]
nulldf.PTS

28    NaN
47    NaN
76    NaN
96    NaN
102   NaN
105   NaN
115   NaN
130   NaN
132   NaN
136   NaN
189   NaN
219   NaN
230   NaN
235   NaN
250   NaN
253   NaN
292   NaN
297   NaN
332   NaN
343   NaN
365   NaN
375   NaN
414   NaN
433   NaN
441   NaN
449   NaN
484   NaN
504   NaN
528   NaN
570   NaN
Name: PTS, dtype: float64

In [101]:
df['PPG'] = df['PTS']/df['GP']
df.head(10)

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,TEAMID,PPG
0,AJ Griffin,ATL,20,20,8,12,170.7,48.0,18,62,...,8,1,2,6,78,0,0,-51,0,2.400000
1,Bogdan Bogdanovic,ATL,31,79,35,44,2401.4,1333.0,471,1100,...,112,96,26,179,2284,1,0,127,0,16.873418
2,Bruno Fernando,ATL,25,45,20,25,682.3,282.0,109,187,...,44,25,28,107,698,0,0,-96,0,6.266667
3,Clint Capela,ATL,29,73,33,40,1883.1,836.0,353,618,...,74,43,106,164,2277,38,0,-17,0,11.452055
4,De'Andre Hunter,ATL,26,57,26,31,1681.1,891.0,304,663,...,83,40,16,146,1373,3,0,-49,0,15.631579
5,Dejounte Murray,ATL,27,78,34,44,2783.3,1753.0,672,1463,...,201,111,24,138,3209,20,1,-154,0,22.474359
6,Dylan Windler,ATL,27,17,9,8,108.4,43.0,15,30,...,2,2,0,6,81,0,0,-16,0,2.529412
7,Garrison Mathews,ATL,27,66,29,37,992.1,325.0,103,226,...,19,20,8,115,556,0,0,-97,0,4.924242
8,Jalen Johnson,ATL,22,56,27,29,1888.9,896.0,359,702,...,101,67,47,133,2027,19,1,-76,0,16.000000
9,Kobe Bufkin,ATL,20,17,8,9,196.0,81.0,34,92,...,10,7,5,20,187,0,0,-35,0,4.764706

In [102]:
df.PPG.describe()

count    541.000000
mean       8.358780
std        6.720959
min        0.000000
25%        3.400000
50%        6.275000
75%       11.635135
max       34.692308
Name: PPG, dtype: float64

In [103]:
df.PTS.describe()

count     541.000000
mean      486.255083
std       503.591613
min         0.000000
25%        80.000000
50%       302.000000
75%       784.000000
max      2370.000000
Name: PTS, dtype: float64

#### Tratamento de dados ausentes

In [104]:
# Duplicating datasets for multiple analysis
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [106]:
df2.head(50)

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,TEAMID,PPG
0,AJ Griffin,ATL,20,20,8,12,170.7,48.0,18,62,...,8,1,2,6,78,0,0,-51,0,2.400000
1,Bogdan Bogdanovic,ATL,31,79,35,44,2401.4,1333.0,471,1100,...,112,96,26,179,2284,1,0,127,0,16.873418
2,Bruno Fernando,ATL,25,45,20,25,682.3,282.0,109,187,...,44,25,28,107,698,0,0,-96,0,6.266667
3,Clint Capela,ATL,29,73,33,40,1883.1,836.0,353,618,...,74,43,106,164,2277,38,0,-17,0,11.452055
4,De'Andre Hunter,ATL,26,57,26,31,1681.1,891.0,304,663,...,83,40,16,146,1373,3,0,-49,0,15.631579
5,Dejounte Murray,ATL,27,78,34,44,2783.3,1753.0,672,1463,...,201,111,24,138,3209,20,1,-154,0,22.474359
6,Dylan Windler,ATL,27,17,9,8,108.4,43.0,15,30,...,2,2,0,6,81,0,0,-16,0,2.529412
7,Garrison Mathews,ATL,27,66,29,37,992.1,325.0,103,226,...,19,20,8,115,556,0,0,-97,0,4.924242
8,Jalen Johnson,ATL,22,56,27,29,1888.9,896.0,359,702,...,101,67,47,133,2027,19,1,-76,0,16.000000
9,Kobe Bufkin,ATL,20,17,8,9,196.0,81.0,34,92,...,10,7,5,20,187,0,0,-35,0,4.764706
10,Mouhamed Gueye,ATL,21,6,2,4,72.8,24.0,8,23,...,1,5,4,13,82,0,0,-41,0,4.000000
11,Onyeka Okongwu,ATL,23,55,23,32,1404.7,561.0,223,365,...,45,26,60,162,1336,8,0,-34,0,10.200000
12,Saddiq Bey,ATL,25,63,28,35,2061.7,863.0,290,697,...,54,51,11,88,1626,8,0,-19,0,13.698413
13,Seth Lundy,ATL,24,9,2,7,52.0,14.0,4,17,...,1,0,0,6,21,0,0,-13,0,1.555556
14,Trae Young,ATL,25,54,22,32,1941.7,1389.0,433,1008,...,235,72,11,109,2456,37,0,-116,0,25.722222
15,Trent Forrest,ATL,25,38,18,20,413.8,83.0,34,90,...,20,11,3,25,304,0,0,-94,0,2.184211
16,Vit Krejci,ATL,23,22,9,13,541.3,135.0,51,104,...,20,13,6,48,309,0,0,1,0,6.136364
17,Wesley Matthews,ATL,37,36,11,25,412.9,110.0,34,97,...,8,16,11,43,281,0,0,-69,0,3.055556
18,Armoni Brooks,BKN,25,10,3,7,104.0,42.0,15,46,...,3,1,1,3,74,0,0,28,1,4.200000
19,Ben Simmons,BKN,27,15,7,8,358.9,92.0,43,74,...,27,12,9,36,400,3,0,-38,1,6.133333
20,Cam Thomas,BKN,22,66,23,43,2074.8,1482.0,526,1190,...,124,45,16,138,2086,0,0,-201,1,22.454545
21,Cameron Johnson,BKN,28,58,21,37,1599.0,776.0,276,619,...,57,49,15,105,1419,1,0,-77,1,13.379310
22,Dariq Whitehead,BKN,19,2,1,1,24.0,3.0,1,5,...,0,0,1,0,15,0,0,-22,1,1.500000
23,Day'Ron Sharpe,BKN,22,61,25,36,920.6,415.0,168,294,...,70,24,44,131,1143,6,0,64,1,6.803279
24,Dennis Schroder,BKN,30,80,30,50,2485.9,1122.0,403,927,...,153,63,17,164,2231,8,0,-126,1,14.025000
25,Dennis Smith Jr.,BKN,26,56,19,37,1058.7,369.0,147,338,...,68,68,12,121,1042,3,0,-36,1,6.589286
26,Dorian Finney-Smith,BKN,30,68,28,40,1934.6,580.0,215,511,...,59,56,38,150,1344,0,0,-107,1,8.529412
27,Jacob Gilyard,BKN,25,41,12,29,698.4,173.0,60,150,...,30,33,5,39,518,0,0,-172,1,4.219512
28,Jalen Wilson,BKN,23,43,14,29,664.5,NaN,76,179,...,19,11,4,48,465,1,0,-4,1,NaN
29,Keita Bates-Diop,BKN,28,53,29,24,664.6,197.0,72,166,...,15,25,22,35,512,0,0,-55,1,3.716981
30,Keon Johnson,BKN,22,5,0,5,61.4,31.0,8,21,...,5,3,1,5,51,0,0,-25,1,6.200000
31,Lonnie Walker IV,BKN,25,58,23,35,1011.1,565.0,208,492,...,51,32,20,71,933,0,0,5,1,9.741379
32,Mikal Bridges,BKN,27,82,32,50,2854.2,1606.0,564,1294,...,164,81,30,116,2670,3,0,-185,1,19.585366
33,Nic Claxton,BKN,25,71,27,44,2115.7,841.0,366,582,...,93,46,146,175,2392,30,0,-278,1,11.845070
34,Noah Clowney,BKN,19,23,10,13,369.9,133.0,50,93,...,15,8,16,25,314,1,0,-54,1,5.782609
35,Trendon Watford,BKN,23,63,25,38,856.5,432.0,164,311,...,63,23,19,106,849,1,0,-73,1,6.857143
36,Al Horford,BOS,37,65,51,14,1739.8,562.0,214,419,...,48,38,62,93,1562,3,0,421,2,8.646154
37,Derrick White,BOS,29,73,58,15,2381.0,1107.0,387,839,...,112,74,87,152,2416,5,1,619,2,15.164384
38,Drew Peterson,BOS,24,3,3,0,22.7,11.0,4,6,...,1,2,0,1,19,0,0,8,2,3.666667
39,JD Davison,BOS,21,8,8,0,39.0,16.0,5,12,...,2,1,1,4,47,0,0,23,2,2.000000
40,Jaden Springer,BOS,21,49,32,17,507.0,163.0,59,148,...,34,36,15,66,442,0,0,-28,2,3.326531
41,Jaylen Brown,BOS,27,70,52,18,2342.5,1610.0,627,1256,...,166,83,37,185,2642,6,1,413,2,23.000000
42,Jayson Tatum,BOS,26,74,57,17,2645.2,1987.0,672,1426,...,188,75,43,145,3420,25,0,608,2,26.851351
43,Jordan Walsh,BOS,20,9,9,0,83.5,15.0,6,15,...,3,5,1,11,62,0,0,47,2,1.666667
44,Jrue Holiday,BOS,33,69,53,16,2263.3,860.0,331,689,...,124,61,53,108,2025,7,0,427,2,12.463768
45,Kristaps Porzingis,BOS,28,57,43,14,1689.9,1145.0,388,752,...,89,42,111,156,2178,13,0,417,2,20.087719
46,Luke Kornet,BOS,28,63,48,15,983.3,334.0,142,203,...,21,23,61,77,979,1,0,218,2,5.301587
47,Neemias Queta,BOS,24,28,24,4,333.2,NaN,67,104,...,13,13,21,50,419,2,0,135,2,NaN
48,Oshae Brissett,BOS,25,55,46,9,630.2,201.0,68,153,...,20,19,8,54,520,0,0,114,2,3.654545
49,Payton Pritchard,BOS,26,82,64,18,1825.7,787.0,297,635,...,61,39,6,106,1601,3,0,449,2,9.597561

##### MEDIA

In [107]:
def generatePTS_values(row):
  return round(df.PPG.mean() * row['GP'])

df.loc[df['PTS'].isna(), 'PTS'] = df[df['PTS'].isna()].apply(generatePTS_values,axis=1)

In [108]:
df = df.fillna(df.PPG.mean())

In [109]:
df.head(50)

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,TEAMID,PPG
0,AJ Griffin,ATL,20,20,8,12,170.7,48.0,18,62,...,8,1,2,6,78,0,0,-51,0,2.400000
1,Bogdan Bogdanovic,ATL,31,79,35,44,2401.4,1333.0,471,1100,...,112,96,26,179,2284,1,0,127,0,16.873418
2,Bruno Fernando,ATL,25,45,20,25,682.3,282.0,109,187,...,44,25,28,107,698,0,0,-96,0,6.266667
3,Clint Capela,ATL,29,73,33,40,1883.1,836.0,353,618,...,74,43,106,164,2277,38,0,-17,0,11.452055
4,De'Andre Hunter,ATL,26,57,26,31,1681.1,891.0,304,663,...,83,40,16,146,1373,3,0,-49,0,15.631579
5,Dejounte Murray,ATL,27,78,34,44,2783.3,1753.0,672,1463,...,201,111,24,138,3209,20,1,-154,0,22.474359
6,Dylan Windler,ATL,27,17,9,8,108.4,43.0,15,30,...,2,2,0,6,81,0,0,-16,0,2.529412
7,Garrison Mathews,ATL,27,66,29,37,992.1,325.0,103,226,...,19,20,8,115,556,0,0,-97,0,4.924242
8,Jalen Johnson,ATL,22,56,27,29,1888.9,896.0,359,702,...,101,67,47,133,2027,19,1,-76,0,16.000000
9,Kobe Bufkin,ATL,20,17,8,9,196.0,81.0,34,92,...,10,7,5,20,187,0,0,-35,0,4.764706
10,Mouhamed Gueye,ATL,21,6,2,4,72.8,24.0,8,23,...,1,5,4,13,82,0,0,-41,0,4.000000
11,Onyeka Okongwu,ATL,23,55,23,32,1404.7,561.0,223,365,...,45,26,60,162,1336,8,0,-34,0,10.200000
12,Saddiq Bey,ATL,25,63,28,35,2061.7,863.0,290,697,...,54,51,11,88,1626,8,0,-19,0,13.698413
13,Seth Lundy,ATL,24,9,2,7,52.0,14.0,4,17,...,1,0,0,6,21,0,0,-13,0,1.555556
14,Trae Young,ATL,25,54,22,32,1941.7,1389.0,433,1008,...,235,72,11,109,2456,37,0,-116,0,25.722222
15,Trent Forrest,ATL,25,38,18,20,413.8,83.0,34,90,...,20,11,3,25,304,0,0,-94,0,2.184211
16,Vit Krejci,ATL,23,22,9,13,541.3,135.0,51,104,...,20,13,6,48,309,0,0,1,0,6.136364
17,Wesley Matthews,ATL,37,36,11,25,412.9,110.0,34,97,...,8,16,11,43,281,0,0,-69,0,3.055556
18,Armoni Brooks,BKN,25,10,3,7,104.0,42.0,15,46,...,3,1,1,3,74,0,0,28,1,4.200000
19,Ben Simmons,BKN,27,15,7,8,358.9,92.0,43,74,...,27,12,9,36,400,3,0,-38,1,6.133333
20,Cam Thomas,BKN,22,66,23,43,2074.8,1482.0,526,1190,...,124,45,16,138,2086,0,0,-201,1,22.454545
21,Cameron Johnson,BKN,28,58,21,37,1599.0,776.0,276,619,...,57,49,15,105,1419,1,0,-77,1,13.379310
22,Dariq Whitehead,BKN,19,2,1,1,24.0,3.0,1,5,...,0,0,1,0,15,0,0,-22,1,1.500000
23,Day'Ron Sharpe,BKN,22,61,25,36,920.6,415.0,168,294,...,70,24,44,131,1143,6,0,64,1,6.803279
24,Dennis Schroder,BKN,30,80,30,50,2485.9,1122.0,403,927,...,153,63,17,164,2231,8,0,-126,1,14.025000
25,Dennis Smith Jr.,BKN,26,56,19,37,1058.7,369.0,147,338,...,68,68,12,121,1042,3,0,-36,1,6.589286
26,Dorian Finney-Smith,BKN,30,68,28,40,1934.6,580.0,215,511,...,59,56,38,150,1344,0,0,-107,1,8.529412
27,Jacob Gilyard,BKN,25,41,12,29,698.4,173.0,60,150,...,30,33,5,39,518,0,0,-172,1,4.219512
28,Jalen Wilson,BKN,23,43,14,29,664.5,359.0,76,179,...,19,11,4,48,465,1,0,-4,1,8.358780
29,Keita Bates-Diop,BKN,28,53,29,24,664.6,197.0,72,166,...,15,25,22,35,512,0,0,-55,1,3.716981
30,Keon Johnson,BKN,22,5,0,5,61.4,31.0,8,21,...,5,3,1,5,51,0,0,-25,1,6.200000
31,Lonnie Walker IV,BKN,25,58,23,35,1011.1,565.0,208,492,...,51,32,20,71,933,0,0,5,1,9.741379
32,Mikal Bridges,BKN,27,82,32,50,2854.2,1606.0,564,1294,...,164,81,30,116,2670,3,0,-185,1,19.585366
33,Nic Claxton,BKN,25,71,27,44,2115.7,841.0,366,582,...,93,46,146,175,2392,30,0,-278,1,11.845070
34,Noah Clowney,BKN,19,23,10,13,369.9,133.0,50,93,...,15,8,16,25,314,1,0,-54,1,5.782609
35,Trendon Watford,BKN,23,63,25,38,856.5,432.0,164,311,...,63,23,19,106,849,1,0,-73,1,6.857143
36,Al Horford,BOS,37,65,51,14,1739.8,562.0,214,419,...,48,38,62,93,1562,3,0,421,2,8.646154
37,Derrick White,BOS,29,73,58,15,2381.0,1107.0,387,839,...,112,74,87,152,2416,5,1,619,2,15.164384
38,Drew Peterson,BOS,24,3,3,0,22.7,11.0,4,6,...,1,2,0,1,19,0,0,8,2,3.666667
39,JD Davison,BOS,21,8,8,0,39.0,16.0,5,12,...,2,1,1,4,47,0,0,23,2,2.000000
40,Jaden Springer,BOS,21,49,32,17,507.0,163.0,59,148,...,34,36,15,66,442,0,0,-28,2,3.326531
41,Jaylen Brown,BOS,27,70,52,18,2342.5,1610.0,627,1256,...,166,83,37,185,2642,6,1,413,2,23.000000
42,Jayson Tatum,BOS,26,74,57,17,2645.2,1987.0,672,1426,...,188,75,43,145,3420,25,0,608,2,26.851351
43,Jordan Walsh,BOS,20,9,9,0,83.5,15.0,6,15,...,3,5,1,11,62,0,0,47,2,1.666667
44,Jrue Holiday,BOS,33,69,53,16,2263.3,860.0,331,689,...,124,61,53,108,2025,7,0,427,2,12.463768
45,Kristaps Porzingis,BOS,28,57,43,14,1689.9,1145.0,388,752,...,89,42,111,156,2178,13,0,417,2,20.087719
46,Luke Kornet,BOS,28,63,48,15,983.3,334.0,142,203,...,21,23,61,77,979,1,0,218,2,5.301587
47,Neemias Queta,BOS,24,28,24,4,333.2,234.0,67,104,...,13,13,21,50,419,2,0,135,2,8.358780
48,Oshae Brissett,BOS,25,55,46,9,630.2,201.0,68,153,...,20,19,8,54,520,0,0,114,2,3.654545
49,Payton Pritchard,BOS,26,82,64,18,1825.7,787.0,297,635,...,61,39,6,106,1601,3,0,449,2,9.597561

##### MEDIANA

In [110]:
def generatePTS2_values(row):
  return round(df2.PPG.median() * row['GP'])

df2.loc[df2['PTS'].isna(), 'PTS'] = df2[df2['PTS'].isna()].apply(generatePTS2_values,axis=1)

In [111]:
df2 = df2.fillna(df2.PPG.mean())

In [112]:
df2.head(50)

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,TEAMID,PPG
0,AJ Griffin,ATL,20,20,8,12,170.7,48.0,18,62,...,8,1,2,6,78,0,0,-51,0,2.400000
1,Bogdan Bogdanovic,ATL,31,79,35,44,2401.4,1333.0,471,1100,...,112,96,26,179,2284,1,0,127,0,16.873418
2,Bruno Fernando,ATL,25,45,20,25,682.3,282.0,109,187,...,44,25,28,107,698,0,0,-96,0,6.266667
3,Clint Capela,ATL,29,73,33,40,1883.1,836.0,353,618,...,74,43,106,164,2277,38,0,-17,0,11.452055
4,De'Andre Hunter,ATL,26,57,26,31,1681.1,891.0,304,663,...,83,40,16,146,1373,3,0,-49,0,15.631579
5,Dejounte Murray,ATL,27,78,34,44,2783.3,1753.0,672,1463,...,201,111,24,138,3209,20,1,-154,0,22.474359
6,Dylan Windler,ATL,27,17,9,8,108.4,43.0,15,30,...,2,2,0,6,81,0,0,-16,0,2.529412
7,Garrison Mathews,ATL,27,66,29,37,992.1,325.0,103,226,...,19,20,8,115,556,0,0,-97,0,4.924242
8,Jalen Johnson,ATL,22,56,27,29,1888.9,896.0,359,702,...,101,67,47,133,2027,19,1,-76,0,16.000000
9,Kobe Bufkin,ATL,20,17,8,9,196.0,81.0,34,92,...,10,7,5,20,187,0,0,-35,0,4.764706
10,Mouhamed Gueye,ATL,21,6,2,4,72.8,24.0,8,23,...,1,5,4,13,82,0,0,-41,0,4.000000
11,Onyeka Okongwu,ATL,23,55,23,32,1404.7,561.0,223,365,...,45,26,60,162,1336,8,0,-34,0,10.200000
12,Saddiq Bey,ATL,25,63,28,35,2061.7,863.0,290,697,...,54,51,11,88,1626,8,0,-19,0,13.698413
13,Seth Lundy,ATL,24,9,2,7,52.0,14.0,4,17,...,1,0,0,6,21,0,0,-13,0,1.555556
14,Trae Young,ATL,25,54,22,32,1941.7,1389.0,433,1008,...,235,72,11,109,2456,37,0,-116,0,25.722222
15,Trent Forrest,ATL,25,38,18,20,413.8,83.0,34,90,...,20,11,3,25,304,0,0,-94,0,2.184211
16,Vit Krejci,ATL,23,22,9,13,541.3,135.0,51,104,...,20,13,6,48,309,0,0,1,0,6.136364
17,Wesley Matthews,ATL,37,36,11,25,412.9,110.0,34,97,...,8,16,11,43,281,0,0,-69,0,3.055556
18,Armoni Brooks,BKN,25,10,3,7,104.0,42.0,15,46,...,3,1,1,3,74,0,0,28,1,4.200000
19,Ben Simmons,BKN,27,15,7,8,358.9,92.0,43,74,...,27,12,9,36,400,3,0,-38,1,6.133333
20,Cam Thomas,BKN,22,66,23,43,2074.8,1482.0,526,1190,...,124,45,16,138,2086,0,0,-201,1,22.454545
21,Cameron Johnson,BKN,28,58,21,37,1599.0,776.0,276,619,...,57,49,15,105,1419,1,0,-77,1,13.379310
22,Dariq Whitehead,BKN,19,2,1,1,24.0,3.0,1,5,...,0,0,1,0,15,0,0,-22,1,1.500000
23,Day'Ron Sharpe,BKN,22,61,25,36,920.6,415.0,168,294,...,70,24,44,131,1143,6,0,64,1,6.803279
24,Dennis Schroder,BKN,30,80,30,50,2485.9,1122.0,403,927,...,153,63,17,164,2231,8,0,-126,1,14.025000
25,Dennis Smith Jr.,BKN,26,56,19,37,1058.7,369.0,147,338,...,68,68,12,121,1042,3,0,-36,1,6.589286
26,Dorian Finney-Smith,BKN,30,68,28,40,1934.6,580.0,215,511,...,59,56,38,150,1344,0,0,-107,1,8.529412
27,Jacob Gilyard,BKN,25,41,12,29,698.4,173.0,60,150,...,30,33,5,39,518,0,0,-172,1,4.219512
28,Jalen Wilson,BKN,23,43,14,29,664.5,270.0,76,179,...,19,11,4,48,465,1,0,-4,1,8.358780
29,Keita Bates-Diop,BKN,28,53,29,24,664.6,197.0,72,166,...,15,25,22,35,512,0,0,-55,1,3.716981
30,Keon Johnson,BKN,22,5,0,5,61.4,31.0,8,21,...,5,3,1,5,51,0,0,-25,1,6.200000
31,Lonnie Walker IV,BKN,25,58,23,35,1011.1,565.0,208,492,...,51,32,20,71,933,0,0,5,1,9.741379
32,Mikal Bridges,BKN,27,82,32,50,2854.2,1606.0,564,1294,...,164,81,30,116,2670,3,0,-185,1,19.585366
33,Nic Claxton,BKN,25,71,27,44,2115.7,841.0,366,582,...,93,46,146,175,2392,30,0,-278,1,11.845070
34,Noah Clowney,BKN,19,23,10,13,369.9,133.0,50,93,...,15,8,16,25,314,1,0,-54,1,5.782609
35,Trendon Watford,BKN,23,63,25,38,856.5,432.0,164,311,...,63,23,19,106,849,1,0,-73,1,6.857143
36,Al Horford,BOS,37,65,51,14,1739.8,562.0,214,419,...,48,38,62,93,1562,3,0,421,2,8.646154
37,Derrick White,BOS,29,73,58,15,2381.0,1107.0,387,839,...,112,74,87,152,2416,5,1,619,2,15.164384
38,Drew Peterson,BOS,24,3,3,0,22.7,11.0,4,6,...,1,2,0,1,19,0,0,8,2,3.666667
39,JD Davison,BOS,21,8,8,0,39.0,16.0,5,12,...,2,1,1,4,47,0,0,23,2,2.000000
40,Jaden Springer,BOS,21,49,32,17,507.0,163.0,59,148,...,34,36,15,66,442,0,0,-28,2,3.326531
41,Jaylen Brown,BOS,27,70,52,18,2342.5,1610.0,627,1256,...,166,83,37,185,2642,6,1,413,2,23.000000
42,Jayson Tatum,BOS,26,74,57,17,2645.2,1987.0,672,1426,...,188,75,43,145,3420,25,0,608,2,26.851351
43,Jordan Walsh,BOS,20,9,9,0,83.5,15.0,6,15,...,3,5,1,11,62,0,0,47,2,1.666667
44,Jrue Holiday,BOS,33,69,53,16,2263.3,860.0,331,689,...,124,61,53,108,2025,7,0,427,2,12.463768
45,Kristaps Porzingis,BOS,28,57,43,14,1689.9,1145.0,388,752,...,89,42,111,156,2178,13,0,417,2,20.087719
46,Luke Kornet,BOS,28,63,48,15,983.3,334.0,142,203,...,21,23,61,77,979,1,0,218,2,5.301587
47,Neemias Queta,BOS,24,28,24,4,333.2,176.0,67,104,...,13,13,21,50,419,2,0,135,2,8.358780
48,Oshae Brissett,BOS,25,55,46,9,630.2,201.0,68,153,...,20,19,8,54,520,0,0,114,2,3.654545
49,Payton Pritchard,BOS,26,82,64,18,1825.7,787.0,297,635,...,61,39,6,106,1601,3,0,449,2,9.597561

##### Avaliação da inputação

In [117]:
# Extract the real and calculated values
real_values = df_main.loc[nan_indices, 'PTS'].values
calculated_values = df.loc[nan_indices, 'PTS'].values

# Calculate the mean error
mean_error = np.mean(np.abs(real_values - calculated_values))

mean_error

305.93333333333334

In [119]:
# Extract the real and calculated values
real_values = df_main.loc[nan_indices, 'PTS'].values
calculated_values = df2.loc[nan_indices, 'PTS'].values

# Calculate the mean error
median_error = np.mean(np.abs(real_values - calculated_values))

median_error

330.1333333333333

### Normalização

In [121]:
# TODO: definir se a escala é entre -1 e 1 ou 0 e 1
scaler = MinMaxScaler(feature_range=(0, 1))

In [125]:
df_normalized = df.drop(['PLAYER', 'TEAM', 'TEAMID'], axis=1)

In [127]:
df_normalized = pd.DataFrame(scaler.fit_transform(df_normalized), columns=df_normalized.columns)

In [132]:
df_normalized['PLAYER'] = df['PLAYER']
df_normalized['TEAM'] = df['TEAM']
df_normalized['TEAMID'] = df['TEAMID']

In [133]:
df_normalized.head(10)

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,BLK,PF,FP,DD2,TD3,+/-,PPG,PLAYER,TEAM,TEAMID
0,0.05,0.228916,0.125000,0.184615,0.056896,0.020253,0.021505,0.037530,0.388220,0.028011,...,0.007874,0.023622,0.016923,0.000000,0.000000,0.442586,0.069180,AJ Griffin,ATL,0
1,0.60,0.939759,0.546875,0.676923,0.803474,0.562447,0.562724,0.665860,0.572959,0.672269,...,0.102362,0.704724,0.495552,0.012987,0.000000,0.577947,0.486373,Bogdan Bogdanovic,ATL,0
2,0.30,0.530120,0.312500,0.384615,0.228120,0.118987,0.130227,0.113196,0.780455,0.000000,...,0.110236,0.421260,0.151443,0.000000,0.000000,0.408365,0.180636,Bruno Fernando,ATL,0
3,0.50,0.867470,0.515625,0.615385,0.630008,0.352743,0.421744,0.374092,0.764391,0.000000,...,0.417323,0.645669,0.494033,0.493506,0.000000,0.468441,0.330104,Clint Capela,ATL,0
4,0.35,0.674699,0.406250,0.476923,0.562402,0.375949,0.363202,0.401332,0.614458,0.327731,...,0.062992,0.574803,0.297895,0.038961,0.000000,0.444106,0.450578,De'Andre Hunter,ATL,0
5,0.40,0.927711,0.531250,0.676923,0.931290,0.739662,0.802867,0.885593,0.614458,0.563025,...,0.094488,0.543307,0.696246,0.259740,0.038462,0.364259,0.647820,Dejounte Murray,ATL,0
6,0.40,0.192771,0.140625,0.123077,0.036045,0.018143,0.017921,0.018160,0.669344,0.036415,...,0.000000,0.023622,0.017574,0.000000,0.000000,0.469202,0.072910,Dylan Windler,ATL,0
7,0.40,0.783133,0.453125,0.569231,0.331805,0.137131,0.123059,0.136804,0.610442,0.238095,...,0.031496,0.452756,0.120634,0.000000,0.000000,0.407605,0.141940,Garrison Mathews,ATL,0
8,0.15,0.662651,0.421875,0.446154,0.631949,0.378059,0.428913,0.424939,0.684070,0.198880,...,0.185039,0.523622,0.439792,0.246753,0.038462,0.423574,0.461197,Jalen Johnson,ATL,0
9,0.05,0.192771,0.125000,0.138462,0.065364,0.034177,0.040621,0.055690,0.495315,0.025210,...,0.019685,0.078740,0.040573,0.000000,0.000000,0.454753,0.137342,Kobe Bufkin,ATL,0

## Análises preliminares

### Quem é o jogador que mais pontua?

In [ ]:
df.iloc[df.PTS.idxmax()]

PLAYER    Luka Doncic
TEAM              DAL
AGE                25
GP                 70
W                  46
L                  24
MIN            2624.0
PTS              2370
FGM               804
FGA              1652
FG%              48.7
3PM               284
3PA               744
3P%              38.2
FTM               478
FTA               608
FT%              78.6
OREB               59
DREB              588
REB               647
AST               686
TOV               282
STL                99
BLK                38
PF                149
FP               4304
DD2                49
TD3                21
+/-               319
Name: 124, dtype: object

### Qual é a média de pontos por jogo desse jogador?

In [ ]:
df.PTS.iloc[df.PTS.idxmax()] / df.GP.iloc[df.PTS.idxmax()]

33.857142857142854

### Quem é o jogador que menos pontua e qual sua média de pontos por jogo?

In [ ]:
df.iloc[df.PTS.idxmin()]

PLAYER    Andrew Funk
TEAM              CHI
AGE                24
GP                  5
W                   3
L                   2
MIN              13.4
PTS                 0
FGM                 0
FGA                 4
FG%               0.0
3PM                 0
3PA                 3
3P%               0.0
FTM                 0
FTA                 0
FT%               0.0
OREB                0
DREB                0
REB                 0
AST                 0
TOV                 0
STL                 1
BLK                 1
PF                  0
FP                  6
DD2                 0
TD3                 0
+/-                 4
Name: 78, dtype: object

In [ ]:
df.PTS.iloc[df.PTS.idxmin()] / df.GP.iloc[df.PTS.idxmin()]

0.0

### Qual jogador mais jogou em minutos?

In [ ]:
df.iloc[df.MIN.idxmax()]

PLAYER    DeMar DeRozan
TEAM                CHI
AGE                  34
GP                   79
W                    37
L                    42
MIN              2988.6
PTS                1897
FGM                 650
FGA                1355
FG%                48.0
3PM                  75
3PA                 225
3P%                33.3
FTM                 522
FTA                 612
FT%                85.3
OREB                 43
DREB                297
REB                 340
AST                 421
TOV                 135
STL                  90
BLK                  45
PF                  161
FP                 3207
DD2                   7
TD3                   0
+/-                 -62
Name: 82, dtype: object

### Qual a média de minutos jogados por partida para esse jogador?

In [ ]:
df.MIN.iloc[df.MIN.idxmax()] / df.GP.iloc[df.MIN.idxmax()]

37.83037974683544